section.main
    div.main__container.container
        div.container__title
            h1.container__title__h1 Notifications
            div.container__title__filter
                p.container__title__filter__label View:
                p.container__title__filter__type.accent_text All types
                input(type="checkbox").container__title__filter__onclick
                div.container__title__select
                    p.container__title__select__elem-link.menu-elems__elem-link.not-active-types All types
                    a(href="#").container__title__select__elem-link.menu-elems__elem-link Type 1
                    a(href="#").container__title__select__elem-link.menu-elems__elem-link Type 2
        div.container__content
            div.container__content__categories.categories
                div.categories__elem.category
                    a(href="#").category__link
                        p.category__link__p All Categories
                div.categories__elem.category
                    a(href="#").category__link
                        p.category__link__p Category 1
                div.categories__elem.category
                    a(href="#").category__link.category__link-active
                        p.category__link__p Category 2
                div.categories__elem.category
                    a(href="#").category__link
                        p.category__link__p Category 3
            div.container__content__notes.notes
                div.notes__item.note.select-item
                    div.note__header
                        div.note__header__content
                            p.note__header__content__type Type 1
                            p.note__header__content__date Today, 10:42 AM
                        div.note__header__menu-icon
                            div.note__header__menu
                                div.note__header__menu__elems.menu-elems
                                    a(href="#").menu-elems__elem-link Menu item 1
                                    a(href="#").menu-elems__elem-link Menu item 2
                                    a(href="#").menu-elems__elem-link Menu item 3

                    div.notes__item__text
                        a(href="#").notes__item__text__title Primary notification content (clickable)
                        p.notes__item__text__describe Secondary notification content; #[span.accent_text requirements:] might include various info in few lines that can be highlighted inline

                div.notes__item.note.select-item
                    div.note__header
                        div.note__header__content
                            p.note__header__content__type Type 1
                            p.note__header__content__date Today, 10:42 AM
                        div.note__header__menu-icon
                            div.note__header__menu
                                div.note__header__menu__elems.menu-elems
                                    a(href="#").menu-elems__elem-link Menu item 1
                                    a(href="#").menu-elems__elem-link Menu item 2
                                    a(href="#").menu-elems__elem-link Menu item 3

                    div.notes__item__text
                        a(href="#").notes__item__text__title Primary notification content (clickable)
                        p.notes__item__text__describe Secondary notification content; #[span.accent_text requirements:] might include various info in few lines that can be highlighted inline

                div.notes__item.note
                    div.note__header
                        div.note__header__content
                            p.note__header__content__type Type 2
                            p.note__header__content__date Today, 10:42 AM
                        div.note__header__menu-icon
                            div.note__header__menu
                                div.note__header__menu__elems.menu-elems
                                    a(href="#").menu-elems__elem-link Menu item 1
                                    a(href="#").menu-elems__elem-link Menu item 2
                                    a(href="#").menu-elems__elem-link Menu item 3

                    div.notes__item__text
                        a(href="#").notes__item__text__title Primary notification content (clickable)
                        p.notes__item__text__describe Secondary notification content

                div.notes__item.note
                    div.note__header
                        div.note__header__content
                            p.note__header__content__type Type 2
                            p.note__header__content__date Today, 10:42 AM
                        div.note__header__menu-icon
                            div.note__header__menu
                                div.note__header__menu__elems.menu-elems
                                    a(href="#").menu-elems__elem-link Menu item 1
                                    a(href="#").menu-elems__elem-link Menu item 2
                                    a(href="#").menu-elems__elem-link Menu item 3

                    div.notes__item__text
                        a(href="#").notes__item__text__title Primary notification content (clickable)
                        p.notes__item__text__describe Secondary notification content

                div.notes__item.note
                    div.note__header
                        div.note__header__content
                            p.note__header__content__type Type 2
                            p.note__header__content__date Today, 10:42 AM
                        div.note__header__menu-icon
                            div.note__header__menu
                                div.note__header__menu__elems.menu-elems
                                    a(href="#").menu-elems__elem-link Menu item 1
                                    a(href="#").menu-elems__elem-link Menu item 2
                                    a(href="#").menu-elems__elem-link Menu item 3

                    div.notes__item__text
                        a(href="#").notes__item__text__title Primary notification content (clickable)
                        p.notes__item__text__describe Secondary notification content

                        






