header.header
    div.header__container.container
        div.header__logo.logo
            a(href="#").logo__link
                img.logo__img(src="./img/Logo.png")
        nav.header__nav
            a(href="#").header__nav__link.active-link Notifications
            a(href="#").header__nav__link Unselected tab
            a(href="#").header__nav__link Unselected tab
            a(href="#").header__nav__link Unselected tab
        div.header__profile.profile
            div.profile__bell
                a(href="#").profile__bell__link
                    img.profile__bell__img(src="./img/bell.png")
            div.profile__person
                a(href="#").profile__person__link
                    img.profile__person__img(src="./img/Avatar.png")