@mixin categories__link_active {
    background-color: $background_gray;
    .category__link__p {
      color:#fff;
      &:before{
        background-image: url("./../img/Vector.png");
      }
    }
}

.base__pseudo__elem{
   content: '';
    position: absolute;
    right: 5px;
    border: 7px solid transparent;
    border-radius: 1px;
}